/*
Error: Invalid CSS after "...$remSize * 1rem": expected "}", was "=font-size($size)"
        on line 1409 of main.scss

1404: 		}
1405: 	}
1406: 
1407: 	@function calculateRem($size) {
1408: 		$remSize: $size / 16px;
1409: 		@return $remSize * 1rem=font-size($size)
1410: 	}
1411: 
1412: 	;
1413: 	font-size: $size;
1414: 	font-size: calculateRem($size) // transition

Backtrace:
main.scss:1409
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:690:in `block'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:272:in `function_directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:708:in `block_child'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:689:in `block'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:257:in `include_directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:234:in `special_directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:209:in `directive'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:700:in `block_contents'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/share/gems/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:25:in `load'
/usr/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...$remSize * 1rem\": expected \"}\", was \"=font-size($size)\"\A         on line 1409 of main.scss\A \A 1404: 		}\A 1405: 	}\A 1406: \A 1407: 	@function calculateRem($size) {\A 1408: 		$remSize: $size / 16px;\A 1409: 		@return $remSize * 1rem=font-size($size)\A 1410: 	}\A 1411: \A 1412: 	;\A 1413: 	font-size: $size;\A 1414: 	font-size: calculateRem($size) // transition"; }
