/*
Error: Functions may not be defined within control directives or other mixins.
        on line 1388 of main.scss

1383: 			padding: 0 1em 0 1em;
1384: 		}
1385: 	}
1386: 
1387: 	// Font Size
1388: @function calculateRem($size) {
1389: $remSize: $size / 16px;
1390: @return $remSize * 1rem }
1391: 
1392: =font-size($size)
1393: font-size: $size

Backtrace:
main.scss:1388
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/check_nesting.rb:15:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:38:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/check_nesting.rb:51:in `visit_children'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/check_nesting.rb:59:in `visit_root'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/check_nesting.rb:17:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:24:in `visit'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:35:in `css_tree'
/usr/share/gems/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/share/gems/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:25:in `load'
/usr/bin/sass:25:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Functions may not be defined within control directives or other mixins.\A         on line 1388 of main.scss\A \A 1383: 			padding: 0 1em 0 1em;\A 1384: 		}\A 1385: 	}\A 1386: \A 1387: 	// Font Size\A 1388: @function calculateRem($size) {\A 1389: $remSize: $size / 16px;\A 1390: @return $remSize * 1rem }\A 1391: \A 1392: =font-size($size)\A 1393: font-size: $size"; }
